<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>User Signin Form</title>
</head>

<body>
  <!--====form section start====-->
  <center>
    <div class="user-detail">
      <h2>Forgot your password? Don't worry reset it here.</h2>
      <form action="/forgot-pass-form-submit" method="post">
        <input type="text" placeholder="Enter Email Address" name="email">
        <input type="submit" value="Submit">
      </form>
    </div>
  </center>
  <!--====form section end====-->
</body>
</html>