<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>User Signin Form</title>
</head>

<body>
  <!--====form section start====-->
  <center>
    <div class="user-detail">
      <h2>Login to your account</h2>
      <form action="/signin-form-submit" method="post">
        <input type="text" placeholder="Enter Email Address" name="email">
        <input type="password" placeholder="Enter Password" name="password">
        <input type="submit" value="Login">
      </form>
      <a href="<%= link %>">Don't have an account?</a><br>
      <span style="color:red"><%= msg %></span>

    </div>
  </center>
  <!--====form section end====-->
</body>

</html>